<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="iflyrics">
	<meta name="author" content="Israel Friedman"> 
	
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


    <link rel="stylesheet" href="/static/css/style.css" />
	<link rel="icon" href="/static/css/favicon.png">
    <title>iflyrics</title>
    
</head>
<body>
  <img class="homepage-background"  src="/static/css/background.jpg">
  <div class="center">
    {% block content %}{% endblock %}
  </div>



</body>

</html>