{% extends "base.html" %}


{% block content %}
	<div>
    	<header>iflyrics</header>	    
		<div class="query" >
		    <h1>iflyrics</h1>
		    <div "information-content">
			    <table align="center">	
				    	<tr>
				    		<td>{{ args }}</td>
			    			<td><a id="{{ user_albums_id }}" href="{{ url_for('albums.albums_route', username=username) }}"><button class="btn btn-primary">View Albums</button></a> </td>
			    			</td>
			    		</tr>
				    	{% endfor %}
				    {% endif %}
				</table>
			</div>
		</div>

	    <footer>
			<p>By Israel Ike Friedman in Python3 and Flask</p>
		</footer>
	</div>

{% endblock %}